<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
    <!-- 本机服务dubbo 服务定义 -->
    <dubbo:application name="album"
                       owner="${dubbo.application.owner}"/>
    <dubbo:annotation/>
    <dubbo:consumer check="false"/>
    <!-- 通用配置 -->
    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}"/>
    <dubbo:registry address="${dubbo.registry.address}"/>
    <dubbo:monitor protocol="${dubbo.monitor.protocol}"/>
    <dubbo:provider retries="${dubbo.provider.retries}" timeout="${dubbo.provider.timeout}" threads="${dubbo.provider.threads}"/>

    <!--    <bean id="demoService" class="kxg.oa.kmanager.provider.dubbo.service.impl.DemoServiceImpl"/>-->
    <!--    <dubbo:service interface="kxg.oa.kmanager.DemoService" ref="demoService"/>-->

<!--    <dubbo:reference id="wsxcGoodsService" interface="kxg.fuck.weishangxiangce.service.service.WSXCGoodsService"-->
<!--                     version="1.0.0"-->
<!--                     retries="3" timeout="6000" check="true"/>-->
</beans>